<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arya|Crushed|Finger+Paint" rel="stylesheet">
  </head>
  <body>
    <h1>Cocktails</h1>
    <ul>
      <li><button>all</button></li>
      <% for (let i = 0; i < alcoholList.length; i++) { %>
        <li><button><%= alcoholList[i] %></button></li>
      <% } %>
    </ul>

    <div id="cocktails-container">
      <% for (let i = 0; i < cocktails.length; i++) { %>
      <div class="one-cocktail-container">
        <div>
            <h4><% if (cocktails[i].isAlcoholic === false) { %>
                      <%= `${cocktails[i].name} (non-alcoholic)` %>
                   <% } else { %>
                      <%= cocktails[i].name %>
                    <%  } %></h4>
            <p><%= cocktails[i].contains %></p>
        </div>
        <p><%= cocktails[i].price %> Ft</p>
      </div>
      <% } %>

    </div>
    
    <script src="../static/cocktails.js"></script>
  </body>
</html>
